<ion-header>
  <ion-toolbar>
    <ion-title>My Pictures</ion-title>
    <!-- <img style="width:2%;margin-left: 95%;" (click)="playAudioBack()" *ngIf="categoryserv.play" src='../../assets/play.jpg'>
    <img style="width:2%;margin-left: 95%;" (click)="stopBack()" *ngIf="categoryserv.pause" src='../../assets/pause (2).jpg'> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>


    <ion-icon name="camera" (click)="OpenMyCamera()"></ion-icon>
    <!-- <div (click)="OpenMyCamera()">Camera</div><br> -->
    <!-- <ion-icon name="camera"></ion-icon> -->
    <div (click)="OpenMyGalary()">MyGalary</div>
    <img  [src]="myimage" id="image" (click)="findlocation($event)"/>
    <button (click)="sendToVision()" >Find Objects</button>
    <!-- <p id="boxid" class="onImageBorder"  *ngIf="showBox"></p> -->
    <div  >
      <div  *ngFor="let obj of listObj;let i=index" (click)="makeTransparency($event,obj)" [id]="i">==

      </div>
    </div>
    <button (click)="forObject()">bla</button>
    
    

  
    
<!--     
   <ion-item *ngIf="showradio"> 
      <div *ngFor="let ob of listIn" >
       <input type="radio" (click)="saveObj($event,ob)">{{ob.Name}}  
      <p>{{ob.Name}}</p> 
      <input *ngFor="let ob of listObj" type="radio"  text="ob.VoiceURL"/>{{ob.Name}}<br><br>
       </div>
      <input type="radio" name="gender" (click)="changeInput($event)">other  
      <input id="text" type="text" [(ngModel)]="valuetext" *ngIf="input">
      <div (click)="saveObjOther()" > save object</div>
      <ion-button>save</ion-button>
     </ion-item>  -->
 <!-- <div (click)="saveInVision()">ok save all items</div> -->
  <!-- <iom-button>del</iom-button> -->

</ion-content>


<!--
  Generated template for the UsergalaryPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
