.general {
    background-color: #ffb3b3;
}

ion-page.category{
    // background-image: url('../../assets/imgs/ba.jpg');
}

.body{
    background-color: #ffb3b3;
}
.imgTxt{
// size: 1000px;
width: 150;
height: 150;
align-content: center;
text-align: center;
// background-color: aqua;
}
.displayimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height:70px;
}
.displaytxt{

  //opacity: 0.7;
  position: absolute;
  bottom: 8px;
  right: 16px;
  left:20%;
  color: black;
}
.Mycategory{
    //put text ontop of image
    position:relative;
    width: 50%;
    height:50%;
}
.MyPix{
    position: relative;
}
.ion-page{
    // background: url(../../assets/ll.jpg) no-repeat fixed center; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // background-size: cover;
    background-color:  #ffb3b3;
}

 .body {
     background-color:  #ffb3b3;
    // background-image: url(C:\Users\ריקי\Desktop\new\project\src\assets\ll.jpg)
 }
 .tabs {
    background-color:  #ffb3b3;
   // background-image: url(C:\Users\ריקי\Desktop\new\project\src\assets\ll.jpg)
}
// <ion-content padding class="spinnerCenter">
//     <ion-spinner name="crescent"></ion-spinner>
// </ion-content>


            
.spinnerCenter {
    //display: flex;
   // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    height: 50%;

    padding-left: 10%;
    margin-left: 45%;
}

a {
    //background:url(../../assets/ll.jpg);
    
    background-size: 150%;
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: #ffb3b3;
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 3em;
    //display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgb(241, 7, 97), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgb(241, 7, 97), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 3px 3px 0px rgb(241, 7, 97), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
    width: 160px;
    height: 160px;  //
    
    display: inline-flex;
    align-items: center;
    padding: 15px;

	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
    transition: all .1s ease;
}

a:active {
    -webkit-box-shadow: 0px 3px 0px rgb(241, 7, 97), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgb(241, 7, 97), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgb(241, 7, 97), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}
.currentBold{
color: red;
// font-weight: bold;
}