
<ion-header>
    <ion-toolbar style="background-color: aqua" [style.background.color]="color" [style.color]="color">
      <ion-grid style="height: 80px">
        <ion-row>
       
        <ion-col size="7">
            <!-- <p class="fontborder" style="margin-top: 4%;margin-left: 80%;color:rgb(14, 234, 241);font-family: Arial, Helvetica, sans-serif;font-size: 150%">Upwords</p> -->
<img style="width: 60%;margin-top: -25%;margin-left: 60%" src="../../assets/icon/logo.jpg" />
        </ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>


        <ion-col>  
              <img style="margin-top: 3%;width:70%;margin-left: 20%;" (click)="playAudio()" *ngIf="servCategory.play" src='../../assets/icon/icons8-music-512.jpg'>

                <img style="margin-top: 3%;width:70%;margin-left: 20%;" (click)="stop()" *ngIf="servCategory.pause" src='../../assets/icon/off.jpg'> 

          </ion-col>
          <ion-col>

              <img (mouseover)="info=true" (mouseout)="info = false" src="../../assets/icon/infooo.jpg" style="margin-top:3%;width: 74%;padding-left: 3%;padding-bottom: 6%"/>
  
     <!-- <div style="text-align: center;font-size: x-large;padding-top: 5%;position: absolute;padding-left: 5%" class="fontborder" > UpWords</div> -->
  
  <!-- <div  style="font-size: x-large;padding-top: 5%;position: absolute;padding-left: 5%;color:turquoise" class="fontborder">UpWords</div> -->
  
   </ion-col>
      </ion-row>
      </ion-grid>
      

    </ion-toolbar>
  </ion-header>
<img src="../../assets/icon/info.jpg" *ngIf="info" style="height: 100%;"/>
  
<ion-content class="general"  style="--background:url('../../assets/upWordsbackground.jpg');-moz-background-size: cover;   background-size: cover;" >

  <p *ngIf="items == 0" style="font-size: 500%;text-align: center">please wait...</p>
  <ion-spinner class="spinnerCenter" name="crescent" *ngIf="items == 0" duration="6000"></ion-spinner>
   
   <!-- <ion-grid  class="ion-no-padding"  style="margin-top: 1%;height: -webkit-full-available">
    <ion-row  style="height: -webkit-full-available;margin-left: 5%;margin-bottom: 0%" > 
      <ion-col style="height: -webkit-full-available" col-3 *ngFor="let item of aa" class="imgTxt">  
        <div (click)='itemTapped($event,item)' [ngStyle]="{'background-image':'url('+ item.ImageURL +')'}" style="padding-right: 1%;padding-left: 1%;width: 80%;height: 80%; border-style: double;align-self: center;margin-top: 5%;-webkit-background-size: cover;"></div>

        <a  (click)='itemTapped($event,item)' href="javascript:void(0);"  style="align-self: center; width:90%;margin-left:-10%;height:70%" [ngStyle]="{'background-image':'url('+ item.ImageURL +')'}">{{item.CategoryName}}</a><br>  -->
      <!-- </ion-col>
    </ion-row>
  </ion-grid> --> 

  <!-- background: url('../../assets/upWordsbackground.jpg');-moz-background-size: cover;   background-size: cover;background-color: transparent;opacity:1;-webkit-background-size: cover -->
  <ion-grid style="height:100%" size=100%>
    <ion-row style="height:50%;margin-bottom: 0%" >
      <ion-col  size="4" *ngFor="let item of aa; let i=index">
       <div style=" align-content: center; position: relative;text-align: center;"> 
         <img (click)='itemTapped($event,item)' [src]="item.ImageURL" style="border-radius: 20% !important;   border-style: solid;border-width: 10px; padding-right: 1%;padding-left: 1%;width: 100%;height: 100%;align-self: center;margin-top: 5%; -webkit-background-size: cover;" [style.border-color]="colors[i]" />
       <div  style="color:white; text-align: center; width:95% ;left:2%;right:5%;font-family: Arial, Helvetica, sans-serif;font-size: 45px; position: absolute;top: 70%;font-size:5vw" [style.background-color]="colors[i]">{{item.CategoryName}}</div>
         <!-- <div (click)='itemTapped($event,item)' [ngStyle]="{'background-image':'url('+ item.ImageURL +')'}" style="padding-right: 1%;padding-left: 1%;width: 80%;height: 80%; border-style: double;align-self: center;margin-top: 5%;-webkit-background-size: cover;"></div> -->
      </div>
      
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by brgfx - www.freepik.com</a>