<ion-header>
  <ion-toolbar>
    <ion-title>user</ion-title>
    <img style="width:2%;margin-left: 95%;" (click)="playAudioBack()" *ngIf="categoryserv.play" src='../../assets/play.jpg'>
    <img style="width:2%;margin-left: 95%;" (click)="stopBack()" *ngIf="categoryserv.pause" src='../../assets/pause (2).jpg'>
  </ion-toolbar>
</ion-header>

<ion-content class="general"  style="--background:url('../../assets/upWordsbackground.jpg');-moz-background-size: cover;   background-size: cover;">

<button col-4 (click)="openMyImages()"  style="border-radius: 20% !important;border-style: solid;border-width: 10px;padding-right: 1%;padding-left: 1%;    margin-left: 6%;width: 40%;height: 50%;align-self: center;margin-top: 5%;border-color: rgb(42,93,124);background-color: white;" >
  <!-- <div  style="color:white; text-align: center; width:40% ;left:2%;right:5%;font-family: Arial, Helvetica, sans-serif;font-size: 45px; position: absolute;top: 70%;font-size:5vw;background-color:  rgb(42,93,124);">My Images</div> -->
 <div style="background-color: rgb(42,93,124);width: 106%;margin-left: -3%; margin-top: 20%; height: 15%; font-size: 30px;color: white;">
   My Images
 </div>
</button>

<button col-4  (click)="AddImages()" style="margin-left: 8%; border-radius: 20% !important;border-style: solid;border-width: 10px;padding-right: 1%;padding-left: 1%;    margin-left: 6%;width: 40%;height: 50%;align-self: center;margin-top: 10%;border-color: rgb(42,93,124);background-color: white;"> 
  <!-- <div  style="color:white; text-align: center; width:40% ;margin-left: 8%;margin-left: 6%;right:5%;font-family: Arial, Helvetica, sans-serif;font-size: 45px; position: absolute;top: 70%;font-size:5vw;background-color:  rgb(42,93,124);">  Add Image</div> -->
  <div style="background-color: rgb(42,93,124);width: 106%;margin-left: -3%; margin-top: 20%; height: 15%; font-size: 30px;color: white;">
  Add Image
  </div>
</button>


</ion-content>
