<ion-header>
  <ion-toolbar>
    <ion-title>categoryimages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <p *ngIf="imagesArr == 0" style="font-size: 400%;text-align: center">please wait...</p>
    <ion-spinner class="spinnerCenter" name="crescent" *ngIf="imagesArr == 0"></ion-spinner>
    
    <ion-grid class="ion-no-padding"class="home-gallery" style="margin-top: 1%;height: -webkit-full-available">
        <ion-row style="height: -webkit-full-available;margin-left: 5%;margin-bottom: 0%" >
          <ion-col size="3" *ngFor="let item of imagesArr" class="imgTxt" style="height: -webkit-full-available">
              <!--  <div (click)='navtoimage($event,item)' [ngStyle]="{'background-image':'url('+ item.image.URL +')'}" style="padding-right: 1%;padding-left: 1%;width: 80%;height: 80%; border-style: dotted;align-self: center;margin-top: 5%;-webkit-background-size: cover;"></div> -->
              <!-- <img style="width: 70%;height: 80%;opacity: 100%;"  [src]="item.image.URL" (click)='navtoimage($event,item)' class="imgsize">  -->
             <img (click)='navtoimage($event,item)' [src]="item.image.URL" style=" padding-right: 1%;padding-left: 1%;width:80%;height: 80%; border-style: dotted;align-self: center;margin-top: 5%;-webkit-background-size: cover;"/>{{item.CategoryName}}
              <!-- <img class="imgsize" style="width: 70%;height: 80%;"></img> -->
            </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
